# Dependencies
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea
.vscode/
*.swp
*.swo
*~
*.iws
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Uploads
uploads/

# Environment
.env
